body{

}

h1{
  text-transform: uppercase;lowercase
  text-align: centre; 
  background-color: aquamarine;
  color: #3F94A6;
  font-family: Arial, "Arial Black", "Arial Narrow", Arial Rounded MT Bold";

}
